<h1>Portfolio Unicorn</h1>

<p>Welcome to Portfolio unicorn,</br>
  this website is a trading simulation where you can trade and manage your virtual stock portfolio. You are given $100,000 to trade, let's see what you can do?!
</p>


<p>Get started:</p>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>